anthropic>=0.85.0
black>=26.3.1
chromadb>=1.5.5
huggingface-hub>=1.6.0
mwparserfromhell>=0.7.2
openai>=2.26.0
python-dotenv>=1.2.2
streamlit>=1.55.0
torch>=2.10.0
tqdm>=4.67.0
transformers>=5.3.0
wikiteam3>=4.4.8
